ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 80px;
    margin-bottom: 80px;
}


.-scorebox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
   
}



.-score{
   border: none;
   background-color:var(--radio-color);
   appearance: none;
   border-radius: 50%;
   transition: .2s ease-in-out;
   cursor: pointer;
   padding: 50px;
}
.-score:hover{
    background-color: var(--hover-color);
}
.-score:checked{
    background-color: var(--button-color);
}



.-insidescore{
    position: absolute;
    font-size: .75rem;
    letter-spacing: 2px;
}


